body {
  background: black;
  color: #00ff9f;
  font-family: monospace;
  font-size: 20px;
}

#game {
  line-height: 1.2;
}

/* Player */
#game span.player { color: #ff0000; } /* red for danger */

/* Exit */
#game span.exit { color: #ff5555; } /* dull red, creepy */